@import url('https://fonts.googleapis.com/css2?family=Anton&family=DynaPuff&family=Nunito&family=Nunito+Sans&family=Poppins&family=Prompt&family=Roboto+Mono&family=Rubik+Dirt&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Poppins;
}
#back-img{
    filter: brightness(50%);
    width: 100%;
    /* position: relative; */
    background-size: cover;
}
#overlay{
    color: white;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    top: 32%;
    left: 50%;
    font-size: 3rem;
}
#tagline{
    font-size: 1.5rem;
    color: rgb(223, 226, 21);
}
#title{
    float: left;
    color:black;
    font-size: 1.7rem;
    padding: 1rem;
}
.body{
    padding-top: 2rem;
}
#problem-head{
    text-align: center;
    font-size: 3rem;
    color:black;
}
.nav{
    background-color: rgb(223, 226, 21);
    overflow: hidden;
}
nav{
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgb(223, 226, 21);
    float: right;
}
nav a{
    text-decoration: none;
    color: black;
    margin: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border-radius: 15px; */
}
nav a:hover{
    /* border-radius: 5px; */
    transition: 0.5s;
    color: rgb(223, 226, 21);
    background-color: rgb(0, 0, 0);
}
.flex, .flex1{
    padding: 4rem;
    display: flex;
    text-align: center;
    flex-direction: row;
}
.solution{
    background-color: rgb(223, 226, 21);
    padding: 1rem;
}
#item1-img, #item2-img, #item3-img{
    transition: 0.5s ease-out;
    width: 50%;
    border-radius: 5px;
    padding-bottom: 1rem;
}
#item4-img, #item5-img, #item6-img, #item7-img{
    transition: 0.5s ease-out;
    width: 50%;
    border-radius: 5px;
    padding-bottom: 1rem;
}
#item9-img, #item8-img{
    width: 50%;
    transition: 0.5s ease-out;
}
#item10-img{
    transition: 0.5s ease-out;
    width: 50%;
}
#item11-img, #item12-img, #item13-img{
    width: 50%;
    transition: 0.5s ease-out;
}
#item1-img:hover, #item2-img:hover, #item3-img:hover,#item4-img:hover, 
#item5-img:hover, #item6-img:hover,#item7-img:hover,#item8-img:hover, 
#item9-img:hover, #item10-img:hover,#item11-img:hover, #item12-img:hover, #item13-img:hover{
    transform: scale(1.1);
    overflow: hidden;
    filter: drop-shadow(0.8rem 0.8rem 1.888rem black);
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
.main-head{
    color: rgb(223,226,21);
    font-size: 3rem;
}
.main-head1{
    font-size: 3rem;
}
#sol-img{
    width: 100%;
}
#sol-head{
    color: black;
}
.solution-body{
    padding: 2rem;
    padding-left: 3rem;

}
#sol-head{
    text-align: center;
    font-size: 3rem;
}
.sol-flex{
    display: flex;
    padding: 2rem;
    font-size: 1.5rem;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.flex2{
    padding: 5rem;
    display: flex;
    text-align: center;
    flex-direction: row;
    
}
#sol-img1{
    width: 25%;
}
#sol-img2{
    width: 25%;
}
#sol-head1{
    padding: 4rem;
}
footer{
    background-color: black;
    color: rgb(223, 226, 21);
    text-align: center;
    padding: 2rem;
}
#reference{
    text-decoration: none;
    color: rgb(223, 226, 21);
}
.social-links{
    list-style: none;
}
.social-links a{
    text-decoration: none;
    color: rgb(223, 226, 21);
}
.social-links li{
    display: inline;
    padding: 1rem;
    font-size: 2rem;
}
.social-links a:hover{
    color: aliceblue;
    transition: 0.5s ease-out;
}
#follow{
    padding: 1rem;
    font-size: 1.3rem;
}
#objectives{
    font-size: 1.3rem;
    padding: 5rem;
    padding-bottom: 3rem;
    line-height: 2.5rem;
}
#readmore{
    text-align: center; 
    padding: 1rem; 
    border: 0; 
    border-radius: 20px; 
    background-color: yellow; 
    color: black;
    margin: auto;
    display: flex;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
#readmore:hover{
    color: rgb(223,226,21);
    background-color: black;
    transition: 0.8s ease-in-out;
    cursor: pointer;
}
@media screen and (max-width: 480px){
    body{
        font-family: Poppins;
    }
    #back-img{
        filter: brightness(50%);
        width: 100%;
        /* position: relative; */
        background-size: cover;
    }
    #overlay{
        font-size: 1.3rem;
        top: 16%;
        position: absolute;
    }
    #tagline{
        font-size: 1rem;
        color: rgb(223, 226, 21);
    }
    .body{
        padding-top: 2rem;
    }
    #problem-head{
        text-align: center;
        font-size: 3rem;
        color:black;
    }
    #title{
        text-align: center;
        font-size: 1rem;
        position: absolute;
        visibility:hidden;
    }
    nav{
        font-size: 1rem;
        float:initial;
        text-align: center;
        /* visibility: hidden; */
        /* padding-left: 10rem; */
    }
    nav a{
        text-decoration: none;
        color: white;
        border-radius: 15px;
        
    } 
    nav a:hover{
        /* border-radius: 5px; */
        transition: 0.5s;
        /* color: rgb(9, 105, 161); */
        /* background-color:white; */
    }
    .flex{
        padding: 2rem;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .flex1{
        padding: 2rem;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .solution{
        background-color: rgb(223, 226, 21);
        padding: 1rem;
    }
    #item1-img, #item2-img, #item3-img{
        transition: 0.5s ease-out;
        width: 50%;
        border-radius: 5px;
        padding: 1rem;
    }
    #item4-img, #item5-img, #item6-img, #item7-img{
        transition: 0.5s ease-out;
        width: 50%;
        border-radius: 5px;
        padding: 1rem;
    }
    #item9-img, #item8-img{
        width: 100%;
        transition: 0.5s ease-out;
        padding: .5rem;
    }
    #item10-img{
        transition: 0.5s ease-out;
        width: 100%;
        padding: .5rem;
    }
    #item11-img, #item12-img, #item13-img{
        width: 75%;
        padding: 1rem;
        transition: 0.5s ease-out;
    }
    #item1-img:hover, #item2-img:hover, #item3-img:hover,#item4-img:hover, 
    #item5-img:hover, #item6-img:hover,#item7-img:hover,#item8-img:hover, 
    #item9-img:hover, #item10-img:hover,#item11-img:hover, #item12-img:hover, #item13-img:hover{
        transform: scale(1.1);
        overflow: hidden;
        filter: drop-shadow(0.8rem 0.8rem 1.888rem black);
    }
    .reveal{
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 1s all ease;
    }
    .reveal.active{
      transform: translateY(0);
      opacity: 1;
    }
    .main-head{
        color: rgb(223, 226, 21);
        font-size: 2rem;
    }
    .main-head1{
        font-size: 1rem;
    }
    h2{
        font-size: 1rem;
    }
    #sol-img{
        width: 100%;
    }
    #sol-head{
        color: black;
        font-size: .5rem;
    }
    .solution-body{
        padding: 2rem;
        padding-left: 3rem;
    
    }
    .flex3{
        padding: 2rem;
        display: flex;
        text-align: center;
        flex-direction: row;
    }
    #sol-head{
        text-align: center;
        font-size: 1.5rem;
    }
    .sol-flex{
        display: flex;
        padding: 0rem;
        font-size: .5rem;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    .flex2{
        margin: auto;
        display: block;
        text-align: center;
    }
    #sol-img1{
        width: 75%;
        margin: auto;
        padding: 1rem;
        display: block;
        text-align: center;
    }
    #sol-img2{
        width: 75%;
        margin: auto;
        padding: 1rem;
        display: block;
        text-align: center;
    }
    #sol-head1{
        font-size: 1rem;
        padding: .5rem;
        text-align: justify;
    }
    #problem-head{
        font-size: 1.5rem;
    }
    footer{
        background-color: black;
        color: rgb(223, 226, 21);
        text-align: center;
        padding: 2rem;
    }
    #reference{
        text-decoration: none;
        color: rgb(223, 226, 21);
    }
    .social-links{
        list-style: none;
    }
    .social-links a{
        text-decoration: none;
        color: rgb(223, 226, 21);
    }
    .social-links li{
        display: inline;
        padding: 1rem;
        font-size: 2rem;
    }
    .social-links a:hover{
        color: aliceblue;
        transition: 0.5s ease-out;
    }
    #follow{
        padding: 1rem;
        font-size: 1.3rem;
    }
    #objectives{
        font-size: 1rem;
        padding: 2.5rem;
        /* padding-bottom: 3rem; */
        line-height: 2rem;
    }
    #readmore{
        text-align: center; 
        padding: 1rem; 
        border: 0; 
        border-radius: 20px; 
        background-color: rgb(223, 226, 21); 
        color: black;
        margin: auto;
        display: flex;
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    #objective{
        font-size: 1.5rem;
        padding: .2rem;
    }
    #readmore:hover{
        color: rgb(223, 226, 21);
        background-color: black;
        transition: 0.8s ease-in-out;
        cursor: pointer;
    }
}